asgiref
Django
django-cors-headers
django-filter
django-rest-framework
djangorestframework
djangorestframework-simplejwt
psycopg2-binary
PyJWT
python-dotenv
sqlparse
asgiref
Django
sqlparse
python-decouple